<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holyrobot.con_common.mapper.CommFileMapper" >
  <resultMap id="BaseResultMap" type="com.holyrobot.con_common.pojo.CommFile" >
    <id column="ID" property="id" jdbcType="CHAR" />
    <result column="FileName" property="filename" jdbcType="VARCHAR" />
    <result column="FilePath" property="filepath" jdbcType="VARCHAR" />
    <result column="FileSize" property="filesize" jdbcType="VARCHAR" />
    <result column="FileType" property="filetype" jdbcType="VARCHAR" />
    <result column="OrgID" property="orgid" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, FileName, FilePath, FileSize, FileType, OrgID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.holyrobot.con_common.pojo.CommFileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Comm_File
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from Comm_File
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from Comm_File
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.holyrobot.con_common.pojo.CommFileExample" >
    delete from Comm_File
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.holyrobot.con_common.pojo.CommFile" >
    insert into Comm_File (ID, FileName, FilePath, 
      FileSize, FileType, OrgID
      )
    values (#{id,jdbcType=CHAR}, #{filename,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR},
      #{filesize,jdbcType=VARCHAR}, #{filetype,jdbcType=VARCHAR}, #{orgid,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.holyrobot.con_common.pojo.CommFile" >
    insert into Comm_File
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="filename != null" >
        FileName,
      </if>
      <if test="filepath != null" >
        FilePath,
      </if>
      <if test="filesize != null" >
        FileSize,
      </if>
      <if test="filetype != null" >
        FileType,
      </if>
      <if test="orgid != null" >
        OrgID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="filesize != null" >
        #{filesize,jdbcType=VARCHAR},
      </if>
      <if test="filetype != null" >
        #{filetype,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.holyrobot.con_common.pojo.CommFileExample" resultType="java.lang.Integer" >
    select count(*) from Comm_File
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Comm_File
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.filename != null" >
        FileName = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.filepath != null" >
        FilePath = #{record.filepath,jdbcType=VARCHAR},
      </if>
      <if test="record.filesize != null" >
        FileSize = #{record.filesize,jdbcType=VARCHAR},
      </if>
      <if test="record.filetype != null" >
        FileType = #{record.filetype,jdbcType=VARCHAR},
      </if>
      <if test="record.orgid != null" >
        OrgID = #{record.orgid,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Comm_File
    set ID = #{record.id,jdbcType=CHAR},
      FileName = #{record.filename,jdbcType=VARCHAR},
      FilePath = #{record.filepath,jdbcType=VARCHAR},
      FileSize = #{record.filesize,jdbcType=VARCHAR},
      FileType = #{record.filetype,jdbcType=VARCHAR},
      OrgID = #{record.orgid,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.holyrobot.con_common.pojo.CommFile" >
    update Comm_File
    <set >
      <if test="filename != null" >
        FileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        FilePath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="filesize != null" >
        FileSize = #{filesize,jdbcType=VARCHAR},
      </if>
      <if test="filetype != null" >
        FileType = #{filetype,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        OrgID = #{orgid,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.holyrobot.con_common.pojo.CommFile" >
    update Comm_File
    set FileName = #{filename,jdbcType=VARCHAR},
      FilePath = #{filepath,jdbcType=VARCHAR},
      FileSize = #{filesize,jdbcType=VARCHAR},
      FileType = #{filetype,jdbcType=VARCHAR},
      OrgID = #{orgid,jdbcType=CHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>