<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holyrobot.con_common.mapper.CrmAccountMrgIntermediateMapper" >
  <resultMap id="BaseResultMap" type="com.holyrobot.con_common.pojo.CrmAccountMrgIntermediate" >
    <id column="ID" property="id" jdbcType="CHAR" />
    <result column="OrgID" property="orgid" jdbcType="CHAR" />
    <result column="CrmOrgID" property="crmorgid" jdbcType="CHAR" />
    <result column="CrmID" property="crmid" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, OrgID, CrmOrgID, CrmID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgIntermediateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Crm_AccountMrg_Intermediate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from Crm_AccountMrg_Intermediate
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from Crm_AccountMrg_Intermediate
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgIntermediateExample" >
    delete from Crm_AccountMrg_Intermediate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgIntermediate" >
    insert into Crm_AccountMrg_Intermediate (ID, OrgID, CrmOrgID, CrmID
      )
    values (#{id,jdbcType=CHAR}, #{orgid,jdbcType=CHAR}, #{crmorgid,jdbcType=CHAR}, #{crmid,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgIntermediate" >
    insert into Crm_AccountMrg_Intermediate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orgid != null" >
        OrgID,
      </if>
      <if test="crmorgid != null" >
        CrmOrgID,
      </if>
      <if test="crmid != null" >
        CrmID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=CHAR},
      </if>
      <if test="crmorgid != null" >
        #{crmorgid,jdbcType=CHAR},
      </if>
      <if test="crmid != null" >
        #{crmid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgIntermediateExample" resultType="java.lang.Integer" >
    select count(*) from Crm_AccountMrg_Intermediate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Crm_AccountMrg_Intermediate
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.orgid != null" >
        OrgID = #{record.orgid,jdbcType=CHAR},
      </if>
      <if test="record.crmorgid != null" >
        CrmOrgID = #{record.crmorgid,jdbcType=CHAR},
      </if>
      <if test="record.crmid != null" >
        CrmID = #{record.crmid,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Crm_AccountMrg_Intermediate
    set ID = #{record.id,jdbcType=CHAR},
      OrgID = #{record.orgid,jdbcType=CHAR},
      CrmOrgID = #{record.crmorgid,jdbcType=CHAR},
      CrmID = #{record.crmid,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgIntermediate" >
    update Crm_AccountMrg_Intermediate
    <set >
      <if test="orgid != null" >
        OrgID = #{orgid,jdbcType=CHAR},
      </if>
      <if test="crmorgid != null" >
        CrmOrgID = #{crmorgid,jdbcType=CHAR},
      </if>
      <if test="crmid != null" >
        CrmID = #{crmid,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgIntermediate" >
    update Crm_AccountMrg_Intermediate
    set OrgID = #{orgid,jdbcType=CHAR},
      CrmOrgID = #{crmorgid,jdbcType=CHAR},
      CrmID = #{crmid,jdbcType=CHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>