<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holyrobot.con_common.mapper.CrmAccountMrgUserMapper" >
  <resultMap id="BaseResultMap" type="com.holyrobot.con_common.pojo.CrmAccountMrgUser" >
    <id column="ID" property="id" jdbcType="CHAR" />
    <result column="AcctMrgID" property="acctmrgid" jdbcType="CHAR" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="JobTitle" property="jobtitle" jdbcType="VARCHAR" />
    <result column="Gender" property="gender" jdbcType="INTEGER" />
    <result column="BirthDay" property="birthday" jdbcType="DATE" />
    <result column="IDNumber" property="idnumber" jdbcType="VARCHAR" />
    <result column="Mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="Comment" property="comment" jdbcType="VARCHAR" />
    <result column="UserType" property="usertype" jdbcType="INTEGER" />
    <result column="DataStatus" property="datastatus" jdbcType="INTEGER" />
    <result column="CreatedDate" property="createddate" jdbcType="TIMESTAMP" />
    <result column="CreatedBy" property="createdby" jdbcType="VARCHAR" />
    <result column="CreatedByID" property="createdbyid" jdbcType="CHAR" />
    <result column="DeptID" property="deptid" jdbcType="CHAR" />
    <result column="OrgID" property="orgid" jdbcType="CHAR" />
    <result column="RevisedDate" property="reviseddate" jdbcType="TIMESTAMP" />
    <result column="RevisedBy" property="revisedby" jdbcType="VARCHAR" />
    <result column="CrmAddress" property="crmaddress" jdbcType="VARCHAR" />
    <result column="Source" property="source" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.holyrobot.con_common.pojo.CrmAccountMrgUser" extends="BaseResultMap" >
    <result column="DepName" property="depname" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, AcctMrgID, UserName, JobTitle, Gender, BirthDay, IDNumber, Mobile, Phone, Email, 
    Comment, UserType, DataStatus, CreatedDate, CreatedBy, CreatedByID, DeptID, OrgID, 
    RevisedDate, RevisedBy, CrmAddress, Source
  </sql>
  <sql id="Blob_Column_List" >
    DepName
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Crm_AccountMrg_User
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Crm_AccountMrg_User
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Crm_AccountMrg_User
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from Crm_AccountMrg_User
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgUserExample" >
    delete from Crm_AccountMrg_User
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgUser" >
    insert into Crm_AccountMrg_User (ID, AcctMrgID, UserName, 
      JobTitle, Gender, BirthDay, 
      IDNumber, Mobile, Phone, 
      Email, Comment, UserType, 
      DataStatus, CreatedDate, CreatedBy, 
      CreatedByID, DeptID, OrgID, 
      RevisedDate, RevisedBy, CrmAddress, 
      Source, DepName)
    values (#{id,jdbcType=CHAR}, #{acctmrgid,jdbcType=CHAR}, #{username,jdbcType=VARCHAR},
      #{jobtitle,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, #{birthday,jdbcType=DATE},
      #{idnumber,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{usertype,jdbcType=INTEGER},
      #{datastatus,jdbcType=INTEGER}, #{createddate,jdbcType=TIMESTAMP}, #{createdby,jdbcType=VARCHAR},
      #{createdbyid,jdbcType=CHAR}, #{deptid,jdbcType=CHAR}, #{orgid,jdbcType=CHAR}, 
      #{reviseddate,jdbcType=TIMESTAMP}, #{revisedby,jdbcType=VARCHAR}, #{crmaddress,jdbcType=VARCHAR},
      #{source,jdbcType=INTEGER}, #{depname,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgUser" >
    insert into Crm_AccountMrg_User
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="acctmrgid != null" >
        AcctMrgID,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="jobtitle != null" >
        JobTitle,
      </if>
      <if test="gender != null" >
        Gender,
      </if>
      <if test="birthday != null" >
        BirthDay,
      </if>
      <if test="idnumber != null" >
        IDNumber,
      </if>
      <if test="mobile != null" >
        Mobile,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="comment != null" >
        Comment,
      </if>
      <if test="usertype != null" >
        UserType,
      </if>
      <if test="datastatus != null" >
        DataStatus,
      </if>
      <if test="createddate != null" >
        CreatedDate,
      </if>
      <if test="createdby != null" >
        CreatedBy,
      </if>
      <if test="createdbyid != null" >
        CreatedByID,
      </if>
      <if test="deptid != null" >
        DeptID,
      </if>
      <if test="orgid != null" >
        OrgID,
      </if>
      <if test="reviseddate != null" >
        RevisedDate,
      </if>
      <if test="revisedby != null" >
        RevisedBy,
      </if>
      <if test="crmaddress != null" >
        CrmAddress,
      </if>
      <if test="source != null" >
        Source,
      </if>
      <if test="depname != null" >
        DepName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="acctmrgid != null" >
        #{acctmrgid,jdbcType=CHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="jobtitle != null" >
        #{jobtitle,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="idnumber != null" >
        #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="datastatus != null" >
        #{datastatus,jdbcType=INTEGER},
      </if>
      <if test="createddate != null" >
        #{createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdbyid != null" >
        #{createdbyid,jdbcType=CHAR},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=CHAR},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=CHAR},
      </if>
      <if test="reviseddate != null" >
        #{reviseddate,jdbcType=TIMESTAMP},
      </if>
      <if test="revisedby != null" >
        #{revisedby,jdbcType=VARCHAR},
      </if>
      <if test="crmaddress != null" >
        #{crmaddress,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=INTEGER},
      </if>
      <if test="depname != null" >
        #{depname,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgUserExample" resultType="java.lang.Integer" >
    select count(*) from Crm_AccountMrg_User
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Crm_AccountMrg_User
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.acctmrgid != null" >
        AcctMrgID = #{record.acctmrgid,jdbcType=CHAR},
      </if>
      <if test="record.username != null" >
        UserName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.jobtitle != null" >
        JobTitle = #{record.jobtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        Gender = #{record.gender,jdbcType=INTEGER},
      </if>
      <if test="record.birthday != null" >
        BirthDay = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.idnumber != null" >
        IDNumber = #{record.idnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        Mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        Phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        Email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null" >
        Comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.usertype != null" >
        UserType = #{record.usertype,jdbcType=INTEGER},
      </if>
      <if test="record.datastatus != null" >
        DataStatus = #{record.datastatus,jdbcType=INTEGER},
      </if>
      <if test="record.createddate != null" >
        CreatedDate = #{record.createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdby != null" >
        CreatedBy = #{record.createdby,jdbcType=VARCHAR},
      </if>
      <if test="record.createdbyid != null" >
        CreatedByID = #{record.createdbyid,jdbcType=CHAR},
      </if>
      <if test="record.deptid != null" >
        DeptID = #{record.deptid,jdbcType=CHAR},
      </if>
      <if test="record.orgid != null" >
        OrgID = #{record.orgid,jdbcType=CHAR},
      </if>
      <if test="record.reviseddate != null" >
        RevisedDate = #{record.reviseddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.revisedby != null" >
        RevisedBy = #{record.revisedby,jdbcType=VARCHAR},
      </if>
      <if test="record.crmaddress != null" >
        CrmAddress = #{record.crmaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null" >
        Source = #{record.source,jdbcType=INTEGER},
      </if>
      <if test="record.depname != null" >
        DepName = #{record.depname,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update Crm_AccountMrg_User
    set ID = #{record.id,jdbcType=CHAR},
      AcctMrgID = #{record.acctmrgid,jdbcType=CHAR},
      UserName = #{record.username,jdbcType=VARCHAR},
      JobTitle = #{record.jobtitle,jdbcType=VARCHAR},
      Gender = #{record.gender,jdbcType=INTEGER},
      BirthDay = #{record.birthday,jdbcType=DATE},
      IDNumber = #{record.idnumber,jdbcType=VARCHAR},
      Mobile = #{record.mobile,jdbcType=VARCHAR},
      Phone = #{record.phone,jdbcType=VARCHAR},
      Email = #{record.email,jdbcType=VARCHAR},
      Comment = #{record.comment,jdbcType=VARCHAR},
      UserType = #{record.usertype,jdbcType=INTEGER},
      DataStatus = #{record.datastatus,jdbcType=INTEGER},
      CreatedDate = #{record.createddate,jdbcType=TIMESTAMP},
      CreatedBy = #{record.createdby,jdbcType=VARCHAR},
      CreatedByID = #{record.createdbyid,jdbcType=CHAR},
      DeptID = #{record.deptid,jdbcType=CHAR},
      OrgID = #{record.orgid,jdbcType=CHAR},
      RevisedDate = #{record.reviseddate,jdbcType=TIMESTAMP},
      RevisedBy = #{record.revisedby,jdbcType=VARCHAR},
      CrmAddress = #{record.crmaddress,jdbcType=VARCHAR},
      Source = #{record.source,jdbcType=INTEGER},
      DepName = #{record.depname,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Crm_AccountMrg_User
    set ID = #{record.id,jdbcType=CHAR},
      AcctMrgID = #{record.acctmrgid,jdbcType=CHAR},
      UserName = #{record.username,jdbcType=VARCHAR},
      JobTitle = #{record.jobtitle,jdbcType=VARCHAR},
      Gender = #{record.gender,jdbcType=INTEGER},
      BirthDay = #{record.birthday,jdbcType=DATE},
      IDNumber = #{record.idnumber,jdbcType=VARCHAR},
      Mobile = #{record.mobile,jdbcType=VARCHAR},
      Phone = #{record.phone,jdbcType=VARCHAR},
      Email = #{record.email,jdbcType=VARCHAR},
      Comment = #{record.comment,jdbcType=VARCHAR},
      UserType = #{record.usertype,jdbcType=INTEGER},
      DataStatus = #{record.datastatus,jdbcType=INTEGER},
      CreatedDate = #{record.createddate,jdbcType=TIMESTAMP},
      CreatedBy = #{record.createdby,jdbcType=VARCHAR},
      CreatedByID = #{record.createdbyid,jdbcType=CHAR},
      DeptID = #{record.deptid,jdbcType=CHAR},
      OrgID = #{record.orgid,jdbcType=CHAR},
      RevisedDate = #{record.reviseddate,jdbcType=TIMESTAMP},
      RevisedBy = #{record.revisedby,jdbcType=VARCHAR},
      CrmAddress = #{record.crmaddress,jdbcType=VARCHAR},
      Source = #{record.source,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgUser" >
    update Crm_AccountMrg_User
    <set >
      <if test="acctmrgid != null" >
        AcctMrgID = #{acctmrgid,jdbcType=CHAR},
      </if>
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="jobtitle != null" >
        JobTitle = #{jobtitle,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        Gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        BirthDay = #{birthday,jdbcType=DATE},
      </if>
      <if test="idnumber != null" >
        IDNumber = #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        Mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        Comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        UserType = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="datastatus != null" >
        DataStatus = #{datastatus,jdbcType=INTEGER},
      </if>
      <if test="createddate != null" >
        CreatedDate = #{createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        CreatedBy = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdbyid != null" >
        CreatedByID = #{createdbyid,jdbcType=CHAR},
      </if>
      <if test="deptid != null" >
        DeptID = #{deptid,jdbcType=CHAR},
      </if>
      <if test="orgid != null" >
        OrgID = #{orgid,jdbcType=CHAR},
      </if>
      <if test="reviseddate != null" >
        RevisedDate = #{reviseddate,jdbcType=TIMESTAMP},
      </if>
      <if test="revisedby != null" >
        RevisedBy = #{revisedby,jdbcType=VARCHAR},
      </if>
      <if test="crmaddress != null" >
        CrmAddress = #{crmaddress,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        Source = #{source,jdbcType=INTEGER},
      </if>
      <if test="depname != null" >
        DepName = #{depname,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgUser" >
    update Crm_AccountMrg_User
    set AcctMrgID = #{acctmrgid,jdbcType=CHAR},
      UserName = #{username,jdbcType=VARCHAR},
      JobTitle = #{jobtitle,jdbcType=VARCHAR},
      Gender = #{gender,jdbcType=INTEGER},
      BirthDay = #{birthday,jdbcType=DATE},
      IDNumber = #{idnumber,jdbcType=VARCHAR},
      Mobile = #{mobile,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      Comment = #{comment,jdbcType=VARCHAR},
      UserType = #{usertype,jdbcType=INTEGER},
      DataStatus = #{datastatus,jdbcType=INTEGER},
      CreatedDate = #{createddate,jdbcType=TIMESTAMP},
      CreatedBy = #{createdby,jdbcType=VARCHAR},
      CreatedByID = #{createdbyid,jdbcType=CHAR},
      DeptID = #{deptid,jdbcType=CHAR},
      OrgID = #{orgid,jdbcType=CHAR},
      RevisedDate = #{reviseddate,jdbcType=TIMESTAMP},
      RevisedBy = #{revisedby,jdbcType=VARCHAR},
      CrmAddress = #{crmaddress,jdbcType=VARCHAR},
      Source = #{source,jdbcType=INTEGER},
      DepName = #{depname,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.holyrobot.con_common.pojo.CrmAccountMrgUser" >
    update Crm_AccountMrg_User
    set AcctMrgID = #{acctmrgid,jdbcType=CHAR},
      UserName = #{username,jdbcType=VARCHAR},
      JobTitle = #{jobtitle,jdbcType=VARCHAR},
      Gender = #{gender,jdbcType=INTEGER},
      BirthDay = #{birthday,jdbcType=DATE},
      IDNumber = #{idnumber,jdbcType=VARCHAR},
      Mobile = #{mobile,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      Comment = #{comment,jdbcType=VARCHAR},
      UserType = #{usertype,jdbcType=INTEGER},
      DataStatus = #{datastatus,jdbcType=INTEGER},
      CreatedDate = #{createddate,jdbcType=TIMESTAMP},
      CreatedBy = #{createdby,jdbcType=VARCHAR},
      CreatedByID = #{createdbyid,jdbcType=CHAR},
      DeptID = #{deptid,jdbcType=CHAR},
      OrgID = #{orgid,jdbcType=CHAR},
      RevisedDate = #{reviseddate,jdbcType=TIMESTAMP},
      RevisedBy = #{revisedby,jdbcType=VARCHAR},
      CrmAddress = #{crmaddress,jdbcType=VARCHAR},
      Source = #{source,jdbcType=INTEGER}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>