<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holyrobot.con_common.mapper.DocLatestQuotationMapper" >
  <resultMap id="BaseResultMap" type="com.holyrobot.con_common.pojo.DocLatestQuotation" >
    <result column="ID" property="id" jdbcType="CHAR" />
    <result column="FileName" property="filename" jdbcType="VARCHAR" />
    <result column="Url" property="url" jdbcType="VARCHAR" />
    <result column="CreatedBy" property="createdby" jdbcType="VARCHAR" />
    <result column="CreatedByID" property="createdbyid" jdbcType="CHAR" />
    <result column="CreatedDate" property="createddate" jdbcType="TIMESTAMP" />
    <result column="DataStatus" property="datastatus" jdbcType="INTEGER" />
    <result column="RevisedBy" property="revisedby" jdbcType="VARCHAR" />
    <result column="RevisedID" property="revisedid" jdbcType="CHAR" />
    <result column="RevisedDate" property="reviseddate" jdbcType="TIMESTAMP" />
    <result column="OrgID" property="orgid" jdbcType="CHAR" />
    <result column="DeptID" property="deptid" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, FileName, Url, CreatedBy, CreatedByID, CreatedDate, DataStatus, RevisedBy, RevisedID, 
    RevisedDate, OrgID, DeptID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.holyrobot.con_common.pojo.DocLatestQuotationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Doc_LatestQuotation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.holyrobot.con_common.pojo.DocLatestQuotationExample" >
    delete from Doc_LatestQuotation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.holyrobot.con_common.pojo.DocLatestQuotation" >
    insert into Doc_LatestQuotation (ID, FileName, Url, 
      CreatedBy, CreatedByID, CreatedDate, 
      DataStatus, RevisedBy, RevisedID, 
      RevisedDate, OrgID, DeptID
      )
    values (#{id,jdbcType=CHAR}, #{filename,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{createdby,jdbcType=VARCHAR}, #{createdbyid,jdbcType=CHAR}, #{createddate,jdbcType=TIMESTAMP},
      #{datastatus,jdbcType=INTEGER}, #{revisedby,jdbcType=VARCHAR}, #{revisedid,jdbcType=CHAR},
      #{reviseddate,jdbcType=TIMESTAMP}, #{orgid,jdbcType=CHAR}, #{deptid,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.holyrobot.con_common.pojo.DocLatestQuotation" >
    insert into Doc_LatestQuotation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="filename != null" >
        FileName,
      </if>
      <if test="url != null" >
        Url,
      </if>
      <if test="createdby != null" >
        CreatedBy,
      </if>
      <if test="createdbyid != null" >
        CreatedByID,
      </if>
      <if test="createddate != null" >
        CreatedDate,
      </if>
      <if test="datastatus != null" >
        DataStatus,
      </if>
      <if test="revisedby != null" >
        RevisedBy,
      </if>
      <if test="revisedid != null" >
        RevisedID,
      </if>
      <if test="reviseddate != null" >
        RevisedDate,
      </if>
      <if test="orgid != null" >
        OrgID,
      </if>
      <if test="deptid != null" >
        DeptID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdbyid != null" >
        #{createdbyid,jdbcType=CHAR},
      </if>
      <if test="createddate != null" >
        #{createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="datastatus != null" >
        #{datastatus,jdbcType=INTEGER},
      </if>
      <if test="revisedby != null" >
        #{revisedby,jdbcType=VARCHAR},
      </if>
      <if test="revisedid != null" >
        #{revisedid,jdbcType=CHAR},
      </if>
      <if test="reviseddate != null" >
        #{reviseddate,jdbcType=TIMESTAMP},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=CHAR},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.holyrobot.con_common.pojo.DocLatestQuotationExample" resultType="java.lang.Integer" >
    select count(*) from Doc_LatestQuotation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Doc_LatestQuotation
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.filename != null" >
        FileName = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        Url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.createdby != null" >
        CreatedBy = #{record.createdby,jdbcType=VARCHAR},
      </if>
      <if test="record.createdbyid != null" >
        CreatedByID = #{record.createdbyid,jdbcType=CHAR},
      </if>
      <if test="record.createddate != null" >
        CreatedDate = #{record.createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.datastatus != null" >
        DataStatus = #{record.datastatus,jdbcType=INTEGER},
      </if>
      <if test="record.revisedby != null" >
        RevisedBy = #{record.revisedby,jdbcType=VARCHAR},
      </if>
      <if test="record.revisedid != null" >
        RevisedID = #{record.revisedid,jdbcType=CHAR},
      </if>
      <if test="record.reviseddate != null" >
        RevisedDate = #{record.reviseddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orgid != null" >
        OrgID = #{record.orgid,jdbcType=CHAR},
      </if>
      <if test="record.deptid != null" >
        DeptID = #{record.deptid,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Doc_LatestQuotation
    set ID = #{record.id,jdbcType=CHAR},
      FileName = #{record.filename,jdbcType=VARCHAR},
      Url = #{record.url,jdbcType=VARCHAR},
      CreatedBy = #{record.createdby,jdbcType=VARCHAR},
      CreatedByID = #{record.createdbyid,jdbcType=CHAR},
      CreatedDate = #{record.createddate,jdbcType=TIMESTAMP},
      DataStatus = #{record.datastatus,jdbcType=INTEGER},
      RevisedBy = #{record.revisedby,jdbcType=VARCHAR},
      RevisedID = #{record.revisedid,jdbcType=CHAR},
      RevisedDate = #{record.reviseddate,jdbcType=TIMESTAMP},
      OrgID = #{record.orgid,jdbcType=CHAR},
      DeptID = #{record.deptid,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!--通过orgId查询-->
  <select id="selectByOrgId" resultMap="BaseResultMap" parameterType="com.holyrobot.con_common.pojo.DocLatestQuotation" >
    select *
    from Doc_LatestQuotation
    where OrgId = #{orgid}
    and DataStatus = 0
    order by CreatedDate desc
  </select>

</mapper>