<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holyrobot.con_order.mapper.OrdTourinfoDocMapper" >
  <resultMap id="BaseResultMap" type="com.holyrobot.con_order.pojo.OrdTourinfoDoc" >
    <id column="ID" property="id" jdbcType="CHAR" />
    <result column="OrderID" property="orderid" jdbcType="CHAR" />
    <result column="FileName" property="filename" jdbcType="VARCHAR" />
    <result column="FileSize" property="filesize" jdbcType="VARCHAR" />
    <result column="FileUrl" property="fileurl" jdbcType="VARCHAR" />
    <result column="DataStatus" property="datastatus" jdbcType="INTEGER" />
    <result column="CreatedByID" property="createdbyid" jdbcType="CHAR" />
    <result column="CreatedBy" property="createdby" jdbcType="VARCHAR" />
    <result column="CreatedDate" property="createddate" jdbcType="TIMESTAMP" />
    <result column="RevisedByID" property="revisedbyid" jdbcType="CHAR" />
    <result column="RevisedBy" property="revisedby" jdbcType="VARCHAR" />
    <result column="RevisedDate" property="reviseddate" jdbcType="TIMESTAMP" />
    <result column="OrgID" property="orgid" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, OrderID, FileName, FileSize, FileUrl, DataStatus, CreatedByID, CreatedBy, CreatedDate, 
    RevisedByID, RevisedBy, RevisedDate, OrgID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.holyrobot.con_order.pojo.OrdTourinfoDocExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Ord_Tourinfo_Doc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from Ord_Tourinfo_Doc
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from Ord_Tourinfo_Doc
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.holyrobot.con_order.pojo.OrdTourinfoDocExample" >
    delete from Ord_Tourinfo_Doc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.holyrobot.con_order.pojo.OrdTourinfoDoc" >
    insert into Ord_Tourinfo_Doc (ID, OrderID, FileName, 
      FileSize, FileUrl, DataStatus, 
      CreatedByID, CreatedBy, CreatedDate, 
      RevisedByID, RevisedBy, RevisedDate, 
      OrgID)
    values (#{id,jdbcType=CHAR}, #{orderid,jdbcType=CHAR}, #{filename,jdbcType=VARCHAR}, 
      #{filesize,jdbcType=VARCHAR}, #{fileurl,jdbcType=VARCHAR}, #{datastatus,jdbcType=INTEGER},
      #{createdbyid,jdbcType=CHAR}, #{createdby,jdbcType=VARCHAR}, #{createddate,jdbcType=TIMESTAMP},
      #{revisedbyid,jdbcType=CHAR}, #{revisedby,jdbcType=VARCHAR}, #{reviseddate,jdbcType=TIMESTAMP},
      #{orgid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.holyrobot.con_order.pojo.OrdTourinfoDoc" >
    insert into Ord_Tourinfo_Doc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderid != null" >
        OrderID,
      </if>
      <if test="filename != null" >
        FileName,
      </if>
      <if test="filesize != null" >
        FileSize,
      </if>
      <if test="fileurl != null" >
        FileUrl,
      </if>
      <if test="datastatus != null" >
        DataStatus,
      </if>
      <if test="createdbyid != null" >
        CreatedByID,
      </if>
      <if test="createdby != null" >
        CreatedBy,
      </if>
      <if test="createddate != null" >
        CreatedDate,
      </if>
      <if test="revisedbyid != null" >
        RevisedByID,
      </if>
      <if test="revisedby != null" >
        RevisedBy,
      </if>
      <if test="reviseddate != null" >
        RevisedDate,
      </if>
      <if test="orgid != null" >
        OrgID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=CHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filesize != null" >
        #{filesize,jdbcType=VARCHAR},
      </if>
      <if test="fileurl != null" >
        #{fileurl,jdbcType=VARCHAR},
      </if>
      <if test="datastatus != null" >
        #{datastatus,jdbcType=INTEGER},
      </if>
      <if test="createdbyid != null" >
        #{createdbyid,jdbcType=CHAR},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createddate != null" >
        #{createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="revisedbyid != null" >
        #{revisedbyid,jdbcType=CHAR},
      </if>
      <if test="revisedby != null" >
        #{revisedby,jdbcType=VARCHAR},
      </if>
      <if test="reviseddate != null" >
        #{reviseddate,jdbcType=TIMESTAMP},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.holyrobot.con_order.pojo.OrdTourinfoDocExample" resultType="java.lang.Integer" >
    select count(*) from Ord_Tourinfo_Doc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Ord_Tourinfo_Doc
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.orderid != null" >
        OrderID = #{record.orderid,jdbcType=CHAR},
      </if>
      <if test="record.filename != null" >
        FileName = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.filesize != null" >
        FileSize = #{record.filesize,jdbcType=VARCHAR},
      </if>
      <if test="record.fileurl != null" >
        FileUrl = #{record.fileurl,jdbcType=VARCHAR},
      </if>
      <if test="record.datastatus != null" >
        DataStatus = #{record.datastatus,jdbcType=INTEGER},
      </if>
      <if test="record.createdbyid != null" >
        CreatedByID = #{record.createdbyid,jdbcType=CHAR},
      </if>
      <if test="record.createdby != null" >
        CreatedBy = #{record.createdby,jdbcType=VARCHAR},
      </if>
      <if test="record.createddate != null" >
        CreatedDate = #{record.createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.revisedbyid != null" >
        RevisedByID = #{record.revisedbyid,jdbcType=CHAR},
      </if>
      <if test="record.revisedby != null" >
        RevisedBy = #{record.revisedby,jdbcType=VARCHAR},
      </if>
      <if test="record.reviseddate != null" >
        RevisedDate = #{record.reviseddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orgid != null" >
        OrgID = #{record.orgid,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Ord_Tourinfo_Doc
    set ID = #{record.id,jdbcType=CHAR},
      OrderID = #{record.orderid,jdbcType=CHAR},
      FileName = #{record.filename,jdbcType=VARCHAR},
      FileSize = #{record.filesize,jdbcType=VARCHAR},
      FileUrl = #{record.fileurl,jdbcType=VARCHAR},
      DataStatus = #{record.datastatus,jdbcType=INTEGER},
      CreatedByID = #{record.createdbyid,jdbcType=CHAR},
      CreatedBy = #{record.createdby,jdbcType=VARCHAR},
      CreatedDate = #{record.createddate,jdbcType=TIMESTAMP},
      RevisedByID = #{record.revisedbyid,jdbcType=CHAR},
      RevisedBy = #{record.revisedby,jdbcType=VARCHAR},
      RevisedDate = #{record.reviseddate,jdbcType=TIMESTAMP},
      OrgID = #{record.orgid,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.holyrobot.con_order.pojo.OrdTourinfoDoc" >
    update Ord_Tourinfo_Doc
    <set >
      <if test="orderid != null" >
        OrderID = #{orderid,jdbcType=CHAR},
      </if>
      <if test="filename != null" >
        FileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filesize != null" >
        FileSize = #{filesize,jdbcType=VARCHAR},
      </if>
      <if test="fileurl != null" >
        FileUrl = #{fileurl,jdbcType=VARCHAR},
      </if>
      <if test="datastatus != null" >
        DataStatus = #{datastatus,jdbcType=INTEGER},
      </if>
      <if test="createdbyid != null" >
        CreatedByID = #{createdbyid,jdbcType=CHAR},
      </if>
      <if test="createdby != null" >
        CreatedBy = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createddate != null" >
        CreatedDate = #{createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="revisedbyid != null" >
        RevisedByID = #{revisedbyid,jdbcType=CHAR},
      </if>
      <if test="revisedby != null" >
        RevisedBy = #{revisedby,jdbcType=VARCHAR},
      </if>
      <if test="reviseddate != null" >
        RevisedDate = #{reviseddate,jdbcType=TIMESTAMP},
      </if>
      <if test="orgid != null" >
        OrgID = #{orgid,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.holyrobot.con_order.pojo.OrdTourinfoDoc" >
    update Ord_Tourinfo_Doc
    set OrderID = #{orderid,jdbcType=CHAR},
      FileName = #{filename,jdbcType=VARCHAR},
      FileSize = #{filesize,jdbcType=VARCHAR},
      FileUrl = #{fileurl,jdbcType=VARCHAR},
      DataStatus = #{datastatus,jdbcType=INTEGER},
      CreatedByID = #{createdbyid,jdbcType=CHAR},
      CreatedBy = #{createdby,jdbcType=VARCHAR},
      CreatedDate = #{createddate,jdbcType=TIMESTAMP},
      RevisedByID = #{revisedbyid,jdbcType=CHAR},
      RevisedBy = #{revisedby,jdbcType=VARCHAR},
      RevisedDate = #{reviseddate,jdbcType=TIMESTAMP},
      OrgID = #{orgid,jdbcType=CHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>