<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holyrobot.con_product.mapper.ProTourVenueMapper" >
  <resultMap id="BaseResultMap" type="com.holyrobot.con_product.pojo.ProTourVenue" >
    <id column="ID" property="id" jdbcType="CHAR" />
    <result column="TourID" property="tourid" jdbcType="CHAR" />
    <result column="Venue" property="venue" jdbcType="VARCHAR" />
    <result column="CollectionTime" property="collectiontime" jdbcType="VARCHAR" />
    <result column="ShuttlePrice" property="shuttleprice" jdbcType="DECIMAL" />
    <result column="DropOffPrice" property="dropoffprice" jdbcType="DECIMAL" />
    <result column="OrgID" property="orgid" jdbcType="CHAR" />
    <result column="SiteID" property="siteid" jdbcType="CHAR" />
    <result column="SiteName" property="sitename" jdbcType="VARCHAR" />
    <result column="DepartureID" property="departureid" jdbcType="CHAR" />
    <result column="DepartureName" property="departurename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TourID, Venue, CollectionTime, ShuttlePrice, DropOffPrice, OrgID, SiteID, SiteName, 
    DepartureID, DepartureName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.holyrobot.con_product.pojo.ProTourVenueExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Pro_Tour_Venue
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from Pro_Tour_Venue
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from Pro_Tour_Venue
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.holyrobot.con_product.pojo.ProTourVenueExample" >
    delete from Pro_Tour_Venue
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.holyrobot.con_product.pojo.ProTourVenue" >
    insert into Pro_Tour_Venue (ID, TourID, Venue, 
      CollectionTime, ShuttlePrice, DropOffPrice, 
      OrgID, SiteID, SiteName, 
      DepartureID, DepartureName)
    values (#{id,jdbcType=CHAR}, #{tourid,jdbcType=CHAR}, #{venue,jdbcType=VARCHAR},
      #{collectiontime,jdbcType=VARCHAR}, #{shuttleprice,jdbcType=DECIMAL}, #{dropoffprice,jdbcType=DECIMAL},
      #{orgid,jdbcType=CHAR}, #{siteid,jdbcType=CHAR}, #{sitename,jdbcType=VARCHAR},
      #{departureid,jdbcType=CHAR}, #{departurename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.holyrobot.con_product.pojo.ProTourVenue" >
    insert into Pro_Tour_Venue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="tourid != null" >
        TourID,
      </if>
      <if test="venue != null" >
        Venue,
      </if>
      <if test="collectiontime != null" >
        CollectionTime,
      </if>
      <if test="shuttleprice != null" >
        ShuttlePrice,
      </if>
      <if test="dropoffprice != null" >
        DropOffPrice,
      </if>
      <if test="orgid != null" >
        OrgID,
      </if>
      <if test="siteid != null" >
        SiteID,
      </if>
      <if test="sitename != null" >
        SiteName,
      </if>
      <if test="departureid != null" >
        DepartureID,
      </if>
      <if test="departurename != null" >
        DepartureName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="tourid != null" >
        #{tourid,jdbcType=CHAR},
      </if>
      <if test="venue != null" >
        #{venue,jdbcType=VARCHAR},
      </if>
      <if test="collectiontime != null" >
        #{collectiontime,jdbcType=VARCHAR},
      </if>
      <if test="shuttleprice != null" >
        #{shuttleprice,jdbcType=DECIMAL},
      </if>
      <if test="dropoffprice != null" >
        #{dropoffprice,jdbcType=DECIMAL},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=CHAR},
      </if>
      <if test="siteid != null" >
        #{siteid,jdbcType=CHAR},
      </if>
      <if test="sitename != null" >
        #{sitename,jdbcType=VARCHAR},
      </if>
      <if test="departureid != null" >
        #{departureid,jdbcType=CHAR},
      </if>
      <if test="departurename != null" >
        #{departurename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.holyrobot.con_product.pojo.ProTourVenueExample" resultType="java.lang.Integer" >
    select count(*) from Pro_Tour_Venue
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Pro_Tour_Venue
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.tourid != null" >
        TourID = #{record.tourid,jdbcType=CHAR},
      </if>
      <if test="record.venue != null" >
        Venue = #{record.venue,jdbcType=VARCHAR},
      </if>
      <if test="record.collectiontime != null" >
        CollectionTime = #{record.collectiontime,jdbcType=VARCHAR},
      </if>
      <if test="record.shuttleprice != null" >
        ShuttlePrice = #{record.shuttleprice,jdbcType=DECIMAL},
      </if>
      <if test="record.dropoffprice != null" >
        DropOffPrice = #{record.dropoffprice,jdbcType=DECIMAL},
      </if>
      <if test="record.orgid != null" >
        OrgID = #{record.orgid,jdbcType=CHAR},
      </if>
      <if test="record.siteid != null" >
        SiteID = #{record.siteid,jdbcType=CHAR},
      </if>
      <if test="record.sitename != null" >
        SiteName = #{record.sitename,jdbcType=VARCHAR},
      </if>
      <if test="record.departureid != null" >
        DepartureID = #{record.departureid,jdbcType=CHAR},
      </if>
      <if test="record.departurename != null" >
        DepartureName = #{record.departurename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Pro_Tour_Venue
    set ID = #{record.id,jdbcType=CHAR},
      TourID = #{record.tourid,jdbcType=CHAR},
      Venue = #{record.venue,jdbcType=VARCHAR},
      CollectionTime = #{record.collectiontime,jdbcType=VARCHAR},
      ShuttlePrice = #{record.shuttleprice,jdbcType=DECIMAL},
      DropOffPrice = #{record.dropoffprice,jdbcType=DECIMAL},
      OrgID = #{record.orgid,jdbcType=CHAR},
      SiteID = #{record.siteid,jdbcType=CHAR},
      SiteName = #{record.sitename,jdbcType=VARCHAR},
      DepartureID = #{record.departureid,jdbcType=CHAR},
      DepartureName = #{record.departurename,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.holyrobot.con_product.pojo.ProTourVenue" >
    update Pro_Tour_Venue
    <set >
      <if test="tourid != null" >
        TourID = #{tourid,jdbcType=CHAR},
      </if>
      <if test="venue != null" >
        Venue = #{venue,jdbcType=VARCHAR},
      </if>
      <if test="collectiontime != null" >
        CollectionTime = #{collectiontime,jdbcType=VARCHAR},
      </if>
      <if test="shuttleprice != null" >
        ShuttlePrice = #{shuttleprice,jdbcType=DECIMAL},
      </if>
      <if test="dropoffprice != null" >
        DropOffPrice = #{dropoffprice,jdbcType=DECIMAL},
      </if>
      <if test="orgid != null" >
        OrgID = #{orgid,jdbcType=CHAR},
      </if>
      <if test="siteid != null" >
        SiteID = #{siteid,jdbcType=CHAR},
      </if>
      <if test="sitename != null" >
        SiteName = #{sitename,jdbcType=VARCHAR},
      </if>
      <if test="departureid != null" >
        DepartureID = #{departureid,jdbcType=CHAR},
      </if>
      <if test="departurename != null" >
        DepartureName = #{departurename,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.holyrobot.con_product.pojo.ProTourVenue" >
    update Pro_Tour_Venue
    set TourID = #{tourid,jdbcType=CHAR},
      Venue = #{venue,jdbcType=VARCHAR},
      CollectionTime = #{collectiontime,jdbcType=VARCHAR},
      ShuttlePrice = #{shuttleprice,jdbcType=DECIMAL},
      DropOffPrice = #{dropoffprice,jdbcType=DECIMAL},
      OrgID = #{orgid,jdbcType=CHAR},
      SiteID = #{siteid,jdbcType=CHAR},
      SiteName = #{sitename,jdbcType=VARCHAR},
      DepartureID = #{departureid,jdbcType=CHAR},
      DepartureName = #{departurename,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>