<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holyrobot.con_volunteer.mapper.TravelerRewardWithdrawDepositMapper" >
  <resultMap id="BaseResultMap" type="com.holyrobot.con_volunteer.pojo.TravelerRewardWithdrawDeposit" >
    <id column="ID" property="id" jdbcType="CHAR" />
    <result column="ParentID" property="parentid" jdbcType="CHAR" />
    <result column="ChildID" property="childid" jdbcType="CHAR" />
    <result column="PayType" property="paytype" jdbcType="VARCHAR" />
    <result column="DepositBank" property="depositbank" jdbcType="VARCHAR" />
    <result column="CardNo" property="cardno" jdbcType="VARCHAR" />
    <result column="ApplicationAmt" property="applicationamt" jdbcType="DECIMAL" />
    <result column="VoucherUrl" property="voucherurl" jdbcType="VARCHAR" />
    <result column="DataStatus" property="datastatus" jdbcType="INTEGER" />
    <result column="CreatedDate" property="createddate" jdbcType="TIMESTAMP" />
    <result column="RevisedDate" property="reviseddate" jdbcType="TIMESTAMP" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="OrgId" property="orgid" jdbcType="CHAR" />
    <result column="AuditUserID" property="audituserid" jdbcType="CHAR" />
    <result column="PayUserID" property="payuserid" jdbcType="CHAR" />
    <result column="AuditDate" property="auditdate" jdbcType="TIMESTAMP" />
    <result column="ApplyUserID" property="applyuserid" jdbcType="CHAR" />
    <result column="AuditUserName" property="auditusername" jdbcType="VARCHAR" />
    <result column="PayUserName" property="payusername" jdbcType="VARCHAR" />
    <result column="ApplyUserName" property="applyusername" jdbcType="VARCHAR" />
    <result column="FinAuditDataStatus" property="finauditdatastatus" jdbcType="INTEGER" />
    <result column="PayRemark" property="payremark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ParentID, ChildID, PayType, DepositBank, CardNo, ApplicationAmt, VoucherUrl, 
    DataStatus, CreatedDate, RevisedDate, Remark, OrgId, AuditUserID, PayUserID, AuditDate, 
    ApplyUserID, AuditUserName, PayUserName, ApplyUserName, FinAuditDataStatus, PayRemark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.holyrobot.con_volunteer.pojo.TravelerRewardWithdrawDepositExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Traveler_Reward_WithdrawDeposit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from Traveler_Reward_WithdrawDeposit
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from Traveler_Reward_WithdrawDeposit
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.holyrobot.con_volunteer.pojo.TravelerRewardWithdrawDepositExample" >
    delete from Traveler_Reward_WithdrawDeposit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.holyrobot.con_volunteer.pojo.TravelerRewardWithdrawDeposit" >
    insert into Traveler_Reward_WithdrawDeposit (ID, ParentID, ChildID, 
      PayType, DepositBank, CardNo, 
      ApplicationAmt, VoucherUrl, DataStatus, 
      CreatedDate, RevisedDate, Remark, 
      OrgId, AuditUserID, PayUserID, 
      AuditDate, ApplyUserID, AuditUserName, 
      PayUserName, ApplyUserName, FinAuditDataStatus, 
      PayRemark)
    values (#{id,jdbcType=CHAR}, #{parentid,jdbcType=CHAR}, #{childid,jdbcType=CHAR}, 
      #{paytype,jdbcType=VARCHAR}, #{depositbank,jdbcType=VARCHAR}, #{cardno,jdbcType=VARCHAR},
      #{applicationamt,jdbcType=DECIMAL}, #{voucherurl,jdbcType=VARCHAR}, #{datastatus,jdbcType=INTEGER},
      #{createddate,jdbcType=TIMESTAMP}, #{reviseddate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
      #{orgid,jdbcType=CHAR}, #{audituserid,jdbcType=CHAR}, #{payuserid,jdbcType=CHAR}, 
      #{auditdate,jdbcType=TIMESTAMP}, #{applyuserid,jdbcType=CHAR}, #{auditusername,jdbcType=VARCHAR},
      #{payusername,jdbcType=VARCHAR}, #{applyusername,jdbcType=VARCHAR}, #{finauditdatastatus,jdbcType=INTEGER},
      #{payremark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.holyrobot.con_volunteer.pojo.TravelerRewardWithdrawDeposit" >
    insert into Traveler_Reward_WithdrawDeposit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="parentid != null" >
        ParentID,
      </if>
      <if test="childid != null" >
        ChildID,
      </if>
      <if test="paytype != null" >
        PayType,
      </if>
      <if test="depositbank != null" >
        DepositBank,
      </if>
      <if test="cardno != null" >
        CardNo,
      </if>
      <if test="applicationamt != null" >
        ApplicationAmt,
      </if>
      <if test="voucherurl != null" >
        VoucherUrl,
      </if>
      <if test="datastatus != null" >
        DataStatus,
      </if>
      <if test="createddate != null" >
        CreatedDate,
      </if>
      <if test="reviseddate != null" >
        RevisedDate,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="orgid != null" >
        OrgId,
      </if>
      <if test="audituserid != null" >
        AuditUserID,
      </if>
      <if test="payuserid != null" >
        PayUserID,
      </if>
      <if test="auditdate != null" >
        AuditDate,
      </if>
      <if test="applyuserid != null" >
        ApplyUserID,
      </if>
      <if test="auditusername != null" >
        AuditUserName,
      </if>
      <if test="payusername != null" >
        PayUserName,
      </if>
      <if test="applyusername != null" >
        ApplyUserName,
      </if>
      <if test="finauditdatastatus != null" >
        FinAuditDataStatus,
      </if>
      <if test="payremark != null" >
        PayRemark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=CHAR},
      </if>
      <if test="childid != null" >
        #{childid,jdbcType=CHAR},
      </if>
      <if test="paytype != null" >
        #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="depositbank != null" >
        #{depositbank,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null" >
        #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="applicationamt != null" >
        #{applicationamt,jdbcType=DECIMAL},
      </if>
      <if test="voucherurl != null" >
        #{voucherurl,jdbcType=VARCHAR},
      </if>
      <if test="datastatus != null" >
        #{datastatus,jdbcType=INTEGER},
      </if>
      <if test="createddate != null" >
        #{createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="reviseddate != null" >
        #{reviseddate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=CHAR},
      </if>
      <if test="audituserid != null" >
        #{audituserid,jdbcType=CHAR},
      </if>
      <if test="payuserid != null" >
        #{payuserid,jdbcType=CHAR},
      </if>
      <if test="auditdate != null" >
        #{auditdate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyuserid != null" >
        #{applyuserid,jdbcType=CHAR},
      </if>
      <if test="auditusername != null" >
        #{auditusername,jdbcType=VARCHAR},
      </if>
      <if test="payusername != null" >
        #{payusername,jdbcType=VARCHAR},
      </if>
      <if test="applyusername != null" >
        #{applyusername,jdbcType=VARCHAR},
      </if>
      <if test="finauditdatastatus != null" >
        #{finauditdatastatus,jdbcType=INTEGER},
      </if>
      <if test="payremark != null" >
        #{payremark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.holyrobot.con_volunteer.pojo.TravelerRewardWithdrawDepositExample" resultType="java.lang.Integer" >
    select count(*) from Traveler_Reward_WithdrawDeposit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Traveler_Reward_WithdrawDeposit
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.parentid != null" >
        ParentID = #{record.parentid,jdbcType=CHAR},
      </if>
      <if test="record.childid != null" >
        ChildID = #{record.childid,jdbcType=CHAR},
      </if>
      <if test="record.paytype != null" >
        PayType = #{record.paytype,jdbcType=VARCHAR},
      </if>
      <if test="record.depositbank != null" >
        DepositBank = #{record.depositbank,jdbcType=VARCHAR},
      </if>
      <if test="record.cardno != null" >
        CardNo = #{record.cardno,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationamt != null" >
        ApplicationAmt = #{record.applicationamt,jdbcType=DECIMAL},
      </if>
      <if test="record.voucherurl != null" >
        VoucherUrl = #{record.voucherurl,jdbcType=VARCHAR},
      </if>
      <if test="record.datastatus != null" >
        DataStatus = #{record.datastatus,jdbcType=INTEGER},
      </if>
      <if test="record.createddate != null" >
        CreatedDate = #{record.createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reviseddate != null" >
        RevisedDate = #{record.reviseddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.orgid != null" >
        OrgId = #{record.orgid,jdbcType=CHAR},
      </if>
      <if test="record.audituserid != null" >
        AuditUserID = #{record.audituserid,jdbcType=CHAR},
      </if>
      <if test="record.payuserid != null" >
        PayUserID = #{record.payuserid,jdbcType=CHAR},
      </if>
      <if test="record.auditdate != null" >
        AuditDate = #{record.auditdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applyuserid != null" >
        ApplyUserID = #{record.applyuserid,jdbcType=CHAR},
      </if>
      <if test="record.auditusername != null" >
        AuditUserName = #{record.auditusername,jdbcType=VARCHAR},
      </if>
      <if test="record.payusername != null" >
        PayUserName = #{record.payusername,jdbcType=VARCHAR},
      </if>
      <if test="record.applyusername != null" >
        ApplyUserName = #{record.applyusername,jdbcType=VARCHAR},
      </if>
      <if test="record.finauditdatastatus != null" >
        FinAuditDataStatus = #{record.finauditdatastatus,jdbcType=INTEGER},
      </if>
      <if test="record.payremark != null" >
        PayRemark = #{record.payremark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Traveler_Reward_WithdrawDeposit
    set ID = #{record.id,jdbcType=CHAR},
      ParentID = #{record.parentid,jdbcType=CHAR},
      ChildID = #{record.childid,jdbcType=CHAR},
      PayType = #{record.paytype,jdbcType=VARCHAR},
      DepositBank = #{record.depositbank,jdbcType=VARCHAR},
      CardNo = #{record.cardno,jdbcType=VARCHAR},
      ApplicationAmt = #{record.applicationamt,jdbcType=DECIMAL},
      VoucherUrl = #{record.voucherurl,jdbcType=VARCHAR},
      DataStatus = #{record.datastatus,jdbcType=INTEGER},
      CreatedDate = #{record.createddate,jdbcType=TIMESTAMP},
      RevisedDate = #{record.reviseddate,jdbcType=TIMESTAMP},
      Remark = #{record.remark,jdbcType=VARCHAR},
      OrgId = #{record.orgid,jdbcType=CHAR},
      AuditUserID = #{record.audituserid,jdbcType=CHAR},
      PayUserID = #{record.payuserid,jdbcType=CHAR},
      AuditDate = #{record.auditdate,jdbcType=TIMESTAMP},
      ApplyUserID = #{record.applyuserid,jdbcType=CHAR},
      AuditUserName = #{record.auditusername,jdbcType=VARCHAR},
      PayUserName = #{record.payusername,jdbcType=VARCHAR},
      ApplyUserName = #{record.applyusername,jdbcType=VARCHAR},
      FinAuditDataStatus = #{record.finauditdatastatus,jdbcType=INTEGER},
      PayRemark = #{record.payremark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.holyrobot.con_volunteer.pojo.TravelerRewardWithdrawDeposit" >
    update Traveler_Reward_WithdrawDeposit
    <set >
      <if test="parentid != null" >
        ParentID = #{parentid,jdbcType=CHAR},
      </if>
      <if test="childid != null" >
        ChildID = #{childid,jdbcType=CHAR},
      </if>
      <if test="paytype != null" >
        PayType = #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="depositbank != null" >
        DepositBank = #{depositbank,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null" >
        CardNo = #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="applicationamt != null" >
        ApplicationAmt = #{applicationamt,jdbcType=DECIMAL},
      </if>
      <if test="voucherurl != null" >
        VoucherUrl = #{voucherurl,jdbcType=VARCHAR},
      </if>
      <if test="datastatus != null" >
        DataStatus = #{datastatus,jdbcType=INTEGER},
      </if>
      <if test="createddate != null" >
        CreatedDate = #{createddate,jdbcType=TIMESTAMP},
      </if>
      <if test="reviseddate != null" >
        RevisedDate = #{reviseddate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        OrgId = #{orgid,jdbcType=CHAR},
      </if>
      <if test="audituserid != null" >
        AuditUserID = #{audituserid,jdbcType=CHAR},
      </if>
      <if test="payuserid != null" >
        PayUserID = #{payuserid,jdbcType=CHAR},
      </if>
      <if test="auditdate != null" >
        AuditDate = #{auditdate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyuserid != null" >
        ApplyUserID = #{applyuserid,jdbcType=CHAR},
      </if>
      <if test="auditusername != null" >
        AuditUserName = #{auditusername,jdbcType=VARCHAR},
      </if>
      <if test="payusername != null" >
        PayUserName = #{payusername,jdbcType=VARCHAR},
      </if>
      <if test="applyusername != null" >
        ApplyUserName = #{applyusername,jdbcType=VARCHAR},
      </if>
      <if test="finauditdatastatus != null" >
        FinAuditDataStatus = #{finauditdatastatus,jdbcType=INTEGER},
      </if>
      <if test="payremark != null" >
        PayRemark = #{payremark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.holyrobot.con_volunteer.pojo.TravelerRewardWithdrawDeposit" >
    update Traveler_Reward_WithdrawDeposit
    set ParentID = #{parentid,jdbcType=CHAR},
      ChildID = #{childid,jdbcType=CHAR},
      PayType = #{paytype,jdbcType=VARCHAR},
      DepositBank = #{depositbank,jdbcType=VARCHAR},
      CardNo = #{cardno,jdbcType=VARCHAR},
      ApplicationAmt = #{applicationamt,jdbcType=DECIMAL},
      VoucherUrl = #{voucherurl,jdbcType=VARCHAR},
      DataStatus = #{datastatus,jdbcType=INTEGER},
      CreatedDate = #{createddate,jdbcType=TIMESTAMP},
      RevisedDate = #{reviseddate,jdbcType=TIMESTAMP},
      Remark = #{remark,jdbcType=VARCHAR},
      OrgId = #{orgid,jdbcType=CHAR},
      AuditUserID = #{audituserid,jdbcType=CHAR},
      PayUserID = #{payuserid,jdbcType=CHAR},
      AuditDate = #{auditdate,jdbcType=TIMESTAMP},
      ApplyUserID = #{applyuserid,jdbcType=CHAR},
      AuditUserName = #{auditusername,jdbcType=VARCHAR},
      PayUserName = #{payusername,jdbcType=VARCHAR},
      ApplyUserName = #{applyusername,jdbcType=VARCHAR},
      FinAuditDataStatus = #{finauditdatastatus,jdbcType=INTEGER},
      PayRemark = #{payremark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>